<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable annotation configuration -->
    <context:annotation-config />
    
    <!-- Scan JDBC Implementations -->
    <context:component-scan base-package="org.rdswitchboard.linkers.neo4j.web.researcher.dao.jdbc.impl" />

	<!-- Scan Service Implementations -->
	<context:component-scan base-package="org.rdswitchboard.linkers.neo4j.web.researcher.service.impl" />

	<!-- Add properties file -->
	<context:property-placeholder location="classpath:properties/jdbc.properties"/>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
    
		<!-- This makes /META-INF/persistence.xml is no longer necessary -->
		<property name="packagesToScan" value="org.rdswitchboard.linkers.neo4j.web.researcher.model" />
      
		<!-- JpaVendorAdapter implementation for Hibernate EntityManager.
             Exposes Hibernate's persistence provider and EntityManager extension interface -->
		<property name="jpaVendorAdapter"> 
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>

		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactory" />
   	</bean>
   	
   	<tx:annotation-driven />
   	
 <!--  	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" /> -->
 

    <!-- Context Configuration 
	<import resource="../context/Spring-Context.xml"/>

	DataSource Configuration 
	<import resource="../database/Spring-DataSource.xml"/>

	Hibernate Configuration 
	<import resource="../database/Spring-Hibernate.xml"/>

	Transaction Configuration 
	<import resource="../transaction/Spring-Transaction.xml"/> -->
		
</beans>
